*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

.contenedor{
    width: 98%;
    /* max-width: 1000px; */
   /* background: #ccc; */
}

/* HEADER */

header{
    background: #2F461D;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* max-height: 600px; */
    /* width: 100%; */
    width: 100%;
height: 100vh;
}

header .menu{
    margin: 0px 0px 0px 0px;
    text-align: end;
    /* box-shadow:15px; */

    
    
}

header .menu a{
    margin:0px 0px 0px 10px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    display: inline-block;
    text-decoration: underline;

   

    /* border-radius: 5px;
    box-shadow: 2px 2px #5d5d5d ; */
    font-size: 17px;
}

header .menu a:hover{
    /* border: 5px solid #ff0ac2;
    border-radius:  10px; */
    text-decoration:overline;

    
}

header .contenedor-texto{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25vh;
    margin-bottom: 0px;
}

header .contenedor-texto .texto{
    /* border: 2px solid rgba(84, 222, 255, 0.5);
    border-radius: 3px; */
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    margin-bottom: 190px;
    color: #ffffff;
}

header .contenedor-texto .texto .name{
    margin-bottom: 10px;
    font-size: 100px;
    line-height: 50px;
    font-style: normal;
}



header .contenedor-texto .texto .portfolio{
    font-size: 50px;
    line-height: 25px;
    padding: 40px;
}

.main{
    /* background: #DAF0EE; */
    width: 100%;
    height: 100vh;
    background-color: #7F5F16;
    color: white;
}

.main .contenedor{
    text-align: center;
    
    
}

.main .acercaDe .contenedor .titulo{
    /* margin-top: 15px; */
    font-size: 50px;
    margin-bottom: 30px;
    padding-top: 35px;
}
.main .acercaDe .contenedor .parrafo{
    font-size: 25px;
    padding-top: 10vh;
}

.trabajos{
    display: flex;
    flex-direction: row;
    background-color: #422E13;
    font-size: 50px;
    text-align: center;
    color: white;

}

.trabajos .contenedor{
    /* overflow: hidden; */
    width: 100%;
    height: 100vh;
   
    
}

.trabajos .contenedor .contenedorTrabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: space-between;
    border: 15px;
    /* padding: 5px 0 0 5px; */
    padding-top: 35px;
    margin: 15px;
}

.trabajos .contenedor .contenedorTrabajos .trabajosLink{
    width: 20%;
    /* height: 100px; */
}

.trabajos .contenedor .contenedorTrabajos .trabajosLink .link{
    width: 100%;
    margin-bottom: 10px;
}

.trabajos .contenedor .contenedorTrabajos .trabajosLink .link img{
    width: 100%;
    vertical-align: top;
    border-radius: 15px;
    box-shadow: 15px 0px 15px 0px rgb(000, 000, 000, 0.3) ;

}

.trabajos .contenedor .contenedorTrabajos .descripcion .tecnologias{
    font-size: 15px;
}


/* ----- --- --- HABILIDADES --- --- --  */

.skills{
    width: 100%;
    height: 100vh;
    background-color: #E5D99F;
    text-align: center;
   
    
}
.skills .contenedorGlobal{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    margin-left: 25%;
    /* margin-top: 10px; */
    /* margin: 25px 0 30% 0; */
}
.progress {
    margin: 25px;
  
    padding: 2px;
    width: 100%;
    max-width: 500px;
    /* border: 3px solid #05e35e; */
    border-radius: 10px;
    background-color: #C4C4C4;
    height: 30px;
  }
  
  .progress .progress__bar {
    height: 100%;
    width: 0%;
    background-color: #422E13;
    border-radius: 10px;
    animation: fill-bar 3s infinite;
  }

  .progress  .fig{
    height: 100%;
    width: 0%;
    background-color: #7F5F16;
    border-radius: 10px;
    animation: fill-barTwo 3s infinite;
    
  }

  .progress .html {
    background-color: #517635;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    animation: fill-barTres 3s infinite;
  }

  .progress .js{
    background-color: #7F5F16;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    animation: fill-barFour 3s infinite;
  }

  .progress .react {
    background-color: #517635;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    animation: fill-barFive 3s infinite;
  }
  /* ----- KEYFRAMES ANIMACIONES ---  */
  @keyframes fill-bar {
    from {width: 0%;}
    to {width: 80%;}
  }
  @keyframes fill-barTwo {
    from {width: 0%;}
    to {width: 30%;}
  }
  @keyframes fill-barTres {
    from {width: 0%;}
    to {width: 60%;}
  }
  @keyframes fill-barFour {
    from {width: 0%;}
    to {width: 40%;}
  }
  @keyframes fill-barFive {
    from {width: 0%;}
    to {width: 20%;}
  }

.skills .contenedorGlobal .contenedorPs{
    display: flex;
}

.skills .contenedorPs img{
    height: 25px;
    margin: 25px;
    /* justify-content: center;
    align-items: center; */
    /* position: absolute; */
}
.skills h3{
    font-size: 50px;
    /* color: white; */
}


/* ----- --- --- --- PIE DE PAGINA ----- --- --- */

.footer{
    width: 100%;
    height: 25vh;
    background-color: #2F461D;
    text-align: center;
}

.footer .contenedor-socialMedia{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.footer a img{
    width: 10%;
    /* margin: 5px; */
    padding: 15px;
    margin-top: 10px;
}


